<launch>

  <arg name="joy_dev" default="/dev/input/js0" />
  <arg name="joystick" default="true" />

  <group ns="joy_teleop">
    <rosparam command="load" file="$(find agrob_joy)/config/agrobv16_teleop.yaml" />
    <param name="joy_node/dev" value="$(arg joy_dev)" />

    <node pkg="teleop_twist_joy" type="teleop_node" name="teleop_twist_joy">
    </node>

    <node pkg="agrob_joy" type="teleop_joy" name="agrob_joy" output="screen"/>
  </group>

  <!-- Mission Supervisor Node (Node Red) -->
  <node pkg="agrob_supervisor" type="agrob_supervisor_node_afs" name="agrob_supervisor_node_1" output="screen" >
    <remap from="/husky/cmd_vel_supervisor" to="husky_velocity_controller/cmd_vel" />
    <param name="robot_model" value= "agrobv16"/>
    <param name="message_robot_model" value= "Agrobv16"/>
    <param name="layer_robot_model" value= "AGROBv16"/>
    <param name="max_vel" type="double" value= "0.5"/>
  </node>

  <!-- Safety Sets Node -->
  <node pkg="agrob_safety" type="agrob_safety_node" name="agrob_safety_1" >
    <param name="robot_model" value= "agrobv16"/>
    <param name="max_pitch" value= "25"/>
    <param name="max_roll" value= "15"/>
    <remap from="lidar1/hkscan" to="scan" />
  </node>

</launch>
